<mat-dialog-content>
    <h1>Modifier un bien</h1>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <mat-form-field>
            <input matInput placeholder="Nom du bien*" id="nom" name="nom" ngModel [(ngModel)]="data.nom" >
            <mat-error *ngIf="form.controls['nom'] && form.controls['nom'].hasError('required') && (form.controls['nom'].dirty || form.controls['nom'].touched)">
                Veuillez remplir ce champ.
            </mat-error>
            <mat-error *ngIf="form.controls['nom'] && form.controls['nom'].hasError('already-exists') && (form.controls['nom'].dirty || form.controls['nom'].touched)">
                Cette propriété existe déjà.
            </mat-error>
            <mat-error *ngIf="form.controls['nom'] && form.controls['nom'].hasError('exception') && (form.controls['nom'].dirty || form.controls['nom'].touched)">
                Une erreur inattendue est survenue. Veuillez réessayer.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Montant*" name="montant" ngModel pattern="[0-9]+" [(ngModel)]="data.montant" required >
            <mat-error *ngIf="form.controls['montant'] && form.controls['montant'].hasError('required') && (form.controls['montant'].dirty || form.controls['montant'].touched)">
                Veuillez remplir ce champ.
            </mat-error>
            <mat-error *ngIf="form.controls['montant'] && form.controls['montant'].hasError('pattern') && (form.controls['montant'].dirty || form.controls['montant'].touched)">
                Veuillez entrer un nombre.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Date d'achat*" name="dateAchat" ngModel [(ngModel)]="dateAchatFormatted" required >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="form.controls['dateAchat'] && form.controls['dateAchat'].hasError('required') && (form.controls['dateAchat'].dirty || form.controls['dateAchat'].touched)">
                Veuillez remplir ce champ.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Catégorie</mat-label>
            <mat-select name="categorie" ngModel [(ngModel)]="data.categorie" required >
                <mat-option value="ResidencePrincipale">Résidence principale</mat-option>
                <mat-option value="LocationNue">Location nue</mat-option>
                <mat-option value="LocationMeublee">Location meublée</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['categorie'] && form.controls['categorie'].hasError('required') && (form.controls['categorie'].dirty || form.controls['categorie'].touched)">
                Veuillez remplir ce champ.
            </mat-error>
        </mat-form-field>
        <div *ngIf="form.value.categorie === 'LocationMeublee'">
            <mat-form-field>
                <input matInput type="number" placeholder="Loyer" name="loyer" [(ngModel)]="data.loyer" ngModel required >
                <mat-error *ngIf="form.controls['loyer'] && form.controls['loyer'].hasError('required') && (form.controls['loyer'].dirty || form.controls['loyer'].touched)">
                    Veuillez remplir ce champ.
                </mat-error>
            </mat-form-field>
        </div>
        <mat-label class="required-hint">*Tous les champs sont obligatoires.</mat-label>
        <button mat-raised-button type="submit" [disabled]="!form.valid">Valider</button>
    </form>
</mat-dialog-content>