<div class="list-container">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Label</th>
                <th scope="col">Montant</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Date d'achat</th>
                <th scope="col">Loyer (si location meublée)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="formData.length === 0">
                <td>Aucun bien immobilier.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr *ngFor="let item of formData">
                <td>{{item.label}}</td>
                <td>{{item.montant}}</td>
                <td>{{item.categorie}}</td>
                <td>{{item.dateAchat}}</td>
                <td *ngIf="item.loyer">{{item.loyer}}</td>
                <td *ngIf="!item.loyer">x</td>
            </tr>
        </tbody>
    </table>
</div>  