/* You can add global styles to this file, and also import other style files */

@import 'bootstrap/scss/bootstrap.scss';

html, body { min-height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #CDD5D1;}
form {
    display: flex;
    flex-direction: column;
    
    mat-label.required-hint {
        font-style: italic;
        font-size: 0.8rem;
    }
}